body {
  display: flex;
  flex-direction: column;
  background: ghostwhite;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  margin: -1rem auto 4rem;
  background: #f3f4f6;
  width: 100%;
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  height: 4rem;
  margin: 2rem 0;
}

.container {
  width: 16rem;
  margin-left: auto;
  margin-right: auto;
}

form {
  width: 100%;
  background: #f5f3ff;
  box-shadow: 0 0 1rem 0.2rem gainsboro;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

form div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

form label {
  display: block;
  font-size: small;
  color: #6b7280;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
  letter-spacing: 0.5px;
}

form input {
  height: 1.5rem;
  border-radius: 4px;
  width: 100%;
  border: 2px solid #8b5cf6;
}

button {
  background: #8b5cf6;
  height: 2.5rem;
  width: 100%;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  color: ghostwhite;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.student-list {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.student-list-item {
  padding: 1rem 2rem;
  margin-top: 1rem;
  background: #fce7f3;
  border-radius: 4px;
  width: 20rem;
}

.student-name {
  font-weight: bold;
  color: #6d28d9;
}
.student-detail {
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-between;
}
